body {
    margin: 0;
}

#container {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    outline: 1px solid blue;
}

input {
    display: block;
    margin: 20px auto;
    width: 120px;
    height: 80px;
    outline: 2px solid yellow;
    border: none;
    background-color: #6943FF;
}

#header, #output-container {
    padding: 20px;
}


#header {
    background-color: #6943FF;
}

#output-container{
}

.results {
    border: 1px solid red;
    margin: 20px;
}